<!DOCTYPE html>
<html>
<head>
  <title>I18nEditor</title>
  <%= stylesheet_link_tag    "i18n_editor/application", :media => "all" %>
  <%= javascript_include_tag "i18n_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
